* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: scroll-behavior 1s;
}
@media (min-width: 728px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 728px) {
  html {
    font-size: 25px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 30px;
  color: white;
  background-color: #202850;
}
header .logo {
  width: 20%;
  margin: 0px auto 30px auto;
}
@media (min-width: 1280px) {
  header .logo {
    width: 10%;
  }
}
@media (min-width: 1280px) {
  header {
    padding: 50px;
  }
}

.intro__avatar {
  width: 50%;
  margin: 0px auto 15px auto;
}
.intro__avatar img {
  border-radius: 50%;
}
@media (min-width: 728px) {
  .intro__avatar {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .intro__avatar {
    width: 20%;
  }
}
.intro__sentences {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}
.intro__sentences #sentence {
  position: relative;
  animation: downtoup 1.5s linear 2s infinite;
}
@keyframes downtoup {
  0% {
    bottom: -30px;
  }
  50% {
    bottom: -18px;
  }
  100% {
    bottom: 0px;
  }
}
.intro__description {
  font-size: 0.8rem;
  margin: 20px;
}
@media (min-width: 1280px) {
  .intro__description {
    width: 40%;
    margin: 20px auto 0px auto;
  }
}

nav {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
}
nav .hamburger {
  width: 35px;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 5px 0px;
  cursor: pointer;
}
@media (min-width: 728px) {
  nav .hamburger {
    display: none;
  }
}
@media (min-width: 728px) {
  nav {
    width: 50%;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.3;
    transition: opacity 0.5s ease;
  }
  nav:hover {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  nav {
    width: 30%;
  }
}

.nav__list {
  display: none;
}
@media (min-width: 728px) {
  .nav__list {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 15px;
  }
}

.nav-list-style, .disappear, .appear {
  width: 40px;
  background: black;
  color: white;
  border-radius: 10px;
  padding: 6px 0px;
}

.nav__item a {
  color: white;
  cursor: pointer;
}
@media (min-width: 728px) {
  .nav__item {
    margin: 10px;
  }
}

.comein {
  display: block;
  animation: translateIn 1s ease;
}

@keyframes translateIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.appear {
  display: block;
  animation: appear 1s ease;
}

.disappear {
  animation: disappear 1s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: translateX(50px);
  }
  70% {
    opacity: 0.7;
    transform: scale(0.5);
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateX(0px);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  70% {
    opacity: 0.7;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.skill {
  padding: 40px 30px;
  color: #202850;
}
.skill__heading {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.skill__list {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: space-evenly;
}
.skill__list .skill__item i {
  font-size: 30px;
}
@media (min-width: 1280px) {
  .skill__list .skill__item i {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  .skill__list {
    grid-template-columns: repeat(4, 25%);
    width: 60%;
    margin: 30px auto 0px auto;
  }
}
@media (min-width: 1280px) {
  .skill {
    padding: 50px;
  }
}

.work {
  padding: 40px 30px;
  color: white;
  background-color: #202850;
  position: relative;
}
.work__heading {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.work__list {
  max-width: 80%;
  margin: auto;
  position: relative;
}
.work .prev,
.work .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px;
  transition: 0.6s ease;
  border-radius: 50%;
  background: linear-gradient(145deg, #1d2448, #222b56);
  box-shadow: 20px 20px 60px #101427, -20px -20px 60px #303c79;
}
@media (min-width: 1280px) {
  .work .prev,
.work .next {
    font-size: 30px;
  }
}
.work .prev {
  left: 5%;
}
@media (min-width: 1280px) {
  .work .prev {
    padding: 6px 25px 7px 20px;
  }
}
.work .next {
  right: 5%;
}
@media (min-width: 1280px) {
  .work .next {
    padding: 7px 20px 6px 25px;
  }
}
.work .dot {
  cursor: pointer;
  font-size: 15px;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.6s ease;
}
.work .active,
.work .dot:hover {
  color: #717171;
}

.initial {
  display: none;
}

.fade {
  -webkit-animation: fade 3s;
  animation: fade 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.work__item {
  margin: 30px auto;
  border-radius: 20px;
  background: linear-gradient(145deg, #1d2448, #222b56);
  box-shadow: 16px 16px 32px #161c38, -16px -16px 32px #2a3468;
  color: white;
}
.work__item__img {
  width: 200px;
  height: 200px;
  margin: 20px 0px;
}
.work__item__title {
  font-size: 1em;
  margin-bottom: 20px;
}
.work__item__desc {
  font-size: 0.7em;
  font-weight: 600;
  padding: 0px 30px;
  margin-bottom: 20px;
}
.work__item__button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  background: linear-gradient(315deg, #1d2448, #222b56);
  box-shadow: -16px -16px 32px #171d3a, 16px 16px 32px #293366;
  margin-bottom: 20px;
  font-size: 0.7em;
}
@media (min-width: 1280px) {
  .work__item {
    width: 50%;
  }
}

.blog {
  padding: 40px 30px;
  color: #202850;
  background-color: white;
}
.blog__heading {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.blog__list {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 728px) {
  .blog__list {
    grid-template-columns: 50% 50%;
    column-gap: 20px;
  }
}
@media (min-width: 1280px) {
  .blog__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.blog__item {
  margin: 30px auto;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 16px 16px 32px #b3b3b3, -16px -16px 32px #ffffff;
  color: #202850;
}
.blog__item__img {
  object-fit: fill;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
}
@media (min-width: 728px) {
  .blog__item__img {
    height: 200px;
  }
}
@media (min-width: 728px) {
  .blog__item__img {
    height: 200px;
  }
}
.blog__item__title {
  font-size: 1em;
  padding: 0px 30px;
  margin-bottom: 20px;
}
.blog__item__desc {
  font-size: 0.7em;
  font-weight: 600;
  padding: 0px 30px;
  margin-bottom: 20px;
}
.blog__item__button {
  display: inline-block;
  border-radius: 35px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow: -16px -16px 32px #b8b8b8, 16px 16px 32px #ffffff;
  color: #202850;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 0.7em;
}
@media (min-width: 728px) {
  .blog__item {
    width: 90%;
  }
}

footer {
  padding: 30px 20px;
  background-color: #202850;
  color: white;
}
footer .footer__logo {
  width: 20%;
  margin: 0px auto 30px auto;
}
@media (min-width: 1280px) {
  footer .footer__logo {
    width: 10%;
  }
}
footer .social__list {
  display: flex;
  justify-content: space-evenly;
}
footer .social__list .social__item a i {
  color: white;
  font-size: 30px;
}
@media (min-width: 1280px) {
  footer .social__list .social__item a i {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  footer .social__list .facebook {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  footer .social__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 728px) {
  footer .social__list {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
